/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
	clip-path: inset(50%);
	height: 0.1rem;
	margin: -0.1rem;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 0.1rem;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		background-color: $color__background-screen;
		border-radius: 0.3rem;
		box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.6);
		clip: auto !important;
		clip-path: none;
		color: $color__text-screen;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 0.5rem;
		line-height: normal;
		padding: 1.5rem 2.3rem 1.4rem;
		text-decoration: none;
		top: 0.5rem;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}
