.site-footer {
    padding: 3rem 0;

    @media (min-width: $break-desktopSmall) {
        padding: 5rem 0 2.5rem 0;
    }
    .copyright {
        font-size: 1.4rem;
        margin-bottom: 0;
    }
}