#masthead {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8rem;
    background: #fff;
    transition: all 0.3s;
    -webkit-box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    z-index: 100;

    @media (min-width: $break-desktopSmall) {
        height: 9rem;
    }

    .site-branding {
        float: left;

        .site-title {
            margin: 2.5rem 0 1rem 2.5rem;

            @media (min-width: $break-desktopSmall) {
                margin: 2rem 0 0 3rem;
                float: left;
            }

            a {
                display: block;
            }
        }

        svg#logo-gw {
            fill: $color__highlight;
            width: 20rem;
            height: 3.7rem;
            transition: all 0.3s;

            @media (min-width: $break-desktopSmall) {
                width: 29rem;
                height: 5.1rem;
            }
        }
    }
}

.admin-bar {
    #masthead {
        top: 4.6rem;
        @media (min-width: 78.3rem) {
            top: 3.2rem;
        }
    }
}