.block {

    &--text {

        @media (min-width: $break-desktopSmall) {
            width: 50%;
        }
    }

    &--text-image {
        clear: both;

        @media (min-width: $break-tabletSmall) {
            display: flex;
        }
        
        .text {
            transition: all 0.3s;

            @media (min-width: $break-tabletSmall) {
                padding: 2rem 2rem 1.5rem 0;
                width: 50%;
            }

            @media (min-width: $break-desktopSmall) {
                padding: 2rem 5rem 1.5rem 0;
            }
        }

        .image {
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 40rem;
            width: 100%;
            
            @media (min-width: $break-tabletSmall) {
                width: 50%;
            }
        }

        &.left {
            .text {
                order: 2;

                @media (min-width: $break-tabletSmall) {
                    padding: 2rem 0 1.5rem 2rem;
                }

                @media (min-width: $break-desktopSmall) {
                    padding: 2rem 0 1.5rem 5rem;
                }
            }
        }
    }

    &--gallery {
        margin: 0 0 4rem 0;

        @media (min-width: $break-desktopSmall) {
            margin: 0 0 6rem 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
        
        .gallery {
            display: flex;
            flex-wrap: wrap;

            .gallery__item {
                width: 9rem;
                margin: 1rem 2rem 1rem 0;

                @media (min-width: $break-tabletSmall) {
                    width: 20rem;
                }

                img {
                    width: 9rem;
                    max-width: none;
    
                    @media (min-width: $break-tabletSmall) {
                        width: 20rem;
                    }
                }
            }

            .gallery__caption {
                display: none;
            }
        }
    }
}