.sticky {
	display: block;
}

// .post,
// .page {
// 	margin: 0 0 1.5em;
// }

.updated:not(.published) {
	display: none;
}

// .page-content,
// .entry-content,
// .entry-summary {
// 	margin: 1.5em 0 0;
// }

.page-links {
	clear: both;
	margin: 0 0 1.5rem;
}

.site-content {
	margin-top: 8rem;

	@media (min-width: $break-desktopSmall) {
		margin-top: 9rem;
	}
}

.entry-title {
	margin: 0 0 1em 0;
}

.entry-content {
	transition: all 0.3s;
	margin-bottom: 8rem;

	@media (min-width: $break-desktopSmall) {
		width: 100%;
	}

	p.first {
		font-size: 2.2rem;
		line-height: 1.6;
	}
}

.has-right-image {
	@include clearfix();

	.entry-content {
		transition: all 0.3s;

		// +p {
		// 	@include fontsize(22px);
		// 	line-height: 1.6;
		// }

		> p, 
		> h1, 
		> h2, 
		> h3, 
		> h4, 
		> h5, 
		> h6, 
		> hr, 
		> ul, 
		> ol, 
		> img, 
		> blockquote {
			@media (min-width: $break-tabletSmall) {
				width: 50%;
				display: inline-block;
			}
		}
	}

	.right-image {
		transition: all 0.3s;

		@media (min-width: $break-tabletSmall) {
			width: 50%;
			float: right;
			padding-left: 6rem;
		}

		// +p {
		// 	@include fontsize(22px);
		// 	line-height: 1.6;
		// }

		figure,
		img {

			@media (min-width: $break-tabletSmall) {
				max-width: 100%;
				max-height: 100%;
			}
		}

		figure {
			position: relative;
			display: inline-block;
		}

		figcaption {
			font-size: 0.8rem;
		}
	}

	.entry-footer {
		clear: both;
	}
}

.has-cover-image {

	.cover-image {
		display: block;
		width: 100vw;
		height: 100vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 25% 0;
		margin-top: 8rem;
		z-index: -100;
		transition: all 0.3s;

		@media (min-width: $break-desktopSmall) {
			margin-top: 8.5rem;
			background-size: contain;
			background-position: 100% 0;
		}
	}

	.site-content {
		position: absolute;
		left: 0;
		right: 0;
	}
}

// Disable right click on photoswipe gallery image
.pswp__img {
	pointer-events: none;
}
