button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	border-color: #000;
	border-radius: 50%;
	background: #000;
	color: #fff;
	line-height: 1;
	padding: .6em 1em .4em;
	-webkit-appearance: none;
    -moz-appearance: none;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
