#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    #content {
        flex-grow: 1;
        background: #fff;
    }

    #colophon {
        background: #fff;
    }
}

.inner {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;

    @media (min-width: $break-desktopSmall) {
        padding: 0 5rem;
    }
}

.site-main {
    margin-top: 3rem;

    @media (min-width: $break-desktopSmall) {
        margin-top: 4rem;
    }
}