h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1,
.h1 {
	font-family: 'Libre Baskerville', serif;
	@include fontsize(40px);
	font-weight: $font__weight-regular;
	line-height: 1.1;
	margin-bottom: 30px;
	@media (min-width: $break-desktopSmall) {
		@include fontsize(50px);
	}
}

h2,
.h2 {
	font-family: 'Libre Baskerville', serif;
	@include fontsize(30px);
	font-weight: $font__weight-regular;
	line-height: 1.1;
	margin-bottom: 25px;
	@media (min-width: $break-desktopSmall) {
		@include fontsize(40px);
	}
}

h3,
.h3 {
	font-family: 'Libre Baskerville', serif;
	@include fontsize(20px);
	font-weight: $font__weight-regular;
	line-height: 1.1;
	margin-bottom: 20px;
	@media (min-width: $break-desktopSmall) {
		@include fontsize(30px);
	}
}

h4,
.h4 {
	font-family: 'Libre Baskerville', serif;
	@include fontsize(18px);
	font-weight: $font__weight-regular;
	line-height: 1.1;
	margin-bottom: 20px;
}

h5,
.h5 {
	font-family: 'Roboto', sans-serif;
	@include fontsize(18px);
	font-weight: $font__weight-bold;
	line-height: 1.1;
	margin-bottom: 20px;
}

h6,
.h6 {
	font-family: 'Roboto', sans-serif;
	@include fontsize(22px);
	font-weight: $font__weight-regular;
	line-height: 1.6;
	margin-bottom: 20px;
}