.sticky {
	display: block;
}

// .post,
// .page {
// 	margin: 0 0 1.5em;
// }

.updated:not(.published) {
	display: none;
}

// .page-content,
// .entry-content,
// .entry-summary {
// 	margin: 1.5em 0 0;
// }

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-content {
	margin-top: 80px;

	@media (min-width: $break-desktopSmall) {
		margin-top: 90px;
	}
}

.entry-title {
	margin-top: 2em;
}

.entry-content {
	transition: all 0.3s;
	margin-bottom: 80px;

	@media (min-width: $break-desktopSmall) {
		width: 100%;
	}

	p.first {
		@include fontsize(22px);
		line-height: 1.6;
	}
}

.has-right-image {
	@include clearfix();

	.entry-content {
		transition: all 0.3s;

		+p {
			@include fontsize(22px);
			line-height: 1.6;
		}

		> p, 
		> h1, 
		> h2, 
		> h3, 
		> h4, 
		> h5, 
		> h6, 
		> hr, 
		> ul, 
		> ol, 
		> img, 
		> blockquote {
			@media (min-width: $break-tabletSmall) {
				width: 50%;
			}
		}
	}

	.right-image {
		transition: all 0.3s;

		@media (min-width: $break-tabletSmall) {
			width: 50%;
			float: right;
			padding-left: 60px;
		}

		+p {
			@include fontsize(22px);
			line-height: 1.6;
		}

		figure,
		img {

			@media (min-width: $break-tabletSmall) {
				max-width: 100%;
				max-height: 100%;
			}
		}

		figure {
			position: relative;
			display: inline-block;
		}

		figcaption {
			font-size: 0.8em;
		}
	}

	.entry-footer {
		clear: both;
	}
}

.has-cover-image {

	.cover-image {
		position: fixed;
		display: block;
		width: 100vw;
		height: 100vh;
		margin-top: 80px;
		z-index: -100;

		@media (min-width: $break-desktopSmall) {
			margin-top: 85px;
		}
	}

	.site-content {
		margin-top: 100vh;
		-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	}
}
